#!/bin/bash
{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

# dot_config/mise/config.toml hash: {{ include "dot_config/mise/config.toml" | sha256sum }}
if [ -n "${CI}" ]; then
  mise plugins up --raw --yes --verbose
  mise up --raw --yes --verbose
else
  mise plugins up
  mise up --yes
fi
