### Zsh
# Compiled files
**/*.zwc

# History
*/.zhistory

# Cache of completion candidates
*/.zcompcache

# List of interpolation functions
*/.zcompdump

# Zplugin
*/.zplugin

# Cachee of "anyenv init - --no-rehash"
*/anyenv-init.zsh
