### Zsh ###
# Zsh compiled script + zrecompile backup
*.zwc
*.zwc.old

# Zsh completion-optimization dumpfile
*zcompdump*
*.zcompcache

# Zsh history
*/.zsh_history

# Zsh sessions
*/.zsh_sessions

# Zsh zcalc history
*/.zcalc_history

# Zsh completions
.zsh/site-functions

### Git
git/config

### Helix
helix/runtime
