### Zsh
# Compiled files
**/*.zwc

# History
*/.zhistory

# Cache of completion candidates
*/.zcompcache

# List of interpolation functions
*/.zcompdump

# Cachee of "anyenv init - --no-rehash"
*/anyenv-init.zsh


## Node.js
# Installed packages
node_modules


### Python
# Pipenv
Pipfile.lock
