[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
flake8 = "*"
jedi = "*"
neovim = "*"

[dev-packages]
bokeh = "*"
flask-sqlalchemy = "*"
flask-script = "*"
fmflow = "*"
matplotlib = "*"
netcdf4 = "*"
pyserial = "*"
xarray = "*"

[requires]
python_version = "3.7"
