#!/bin/bash
{{ if eq .chezmoi.os "darwin" }}
xcode-select --install
{{ else if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
sudo apt update \
  && sudo apt full-upgrade -y \
  && sudo apt install -y \
    build-essential \
    pass \
    wslu \
  && sudo apt autoremove -y \
  && sudo apt autoclean -s
{{   end }}
{{ end }}

curl -fsSL 'https://raw.githubusercontent.com/Homebrew/install/master/install.sh' | bash
{{ if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}
brew bundle --file "${CHEZMOI_SOURCE_DIR}/Brewfile.{{ .chezmoi.os }}" --no-lock
