"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "iceberg-syntax"
    ]
  "exception-reporting":
    userId: "707c03f1-abbb-43f1-921b-1a1c6aa95a6a"
  kite:
    editorMetricsEnabled: "yes"
    showDocsNotificationOnStartup: false
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
  welcome:
    showOnStartup: false
