theme = "nord-night"

[editor]
line-number = "relative"
true-color = true

[editor.cursor-shape]
insert = "bar"
select = "underline"

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true
