#!/usr/bin/env zsh
{{ if eq .chezmoi.os "linux" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ else if eq .chezmoi.os "darwin" }}
eval "$(/opt/homebrew/bin/brew shellenv)"
export PATH="${HOME}/.rd/bin:${PATH}"
export LDFLAGS="-L$(xcrun --show-sdk-path)/usr/lib"
{{ end }}

export \
  EDITOR='nvim' \
  PAGER='less' \
  GPG_TTY="$(tty)"

{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
export \
  AWS_VAULT_BACKEND='pass' \
  AWS_VAULT_PASS_PREFIX='aws-vault'
{{   end }}
{{ end }}

eval "$(mise activate zsh)"

path=( \
  ${HOMEBREW_PREFIX}/opt/*/libexec/gnubin(N-/) \
  ${HOME}/.local/bin(N-/) \
  $path \
)
manpath=( \
  ${HOMEBREW_PREFIX}/opt/*/libexec/gnuman(N-/) \
  $manpath \
)

# Shell Completion Setup
mkdir -p "${XDG_CACHE_HOME}/zsh/site-functions"

chezmoi completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_chezmoi"
mise completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_mise"
docker completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_docker"

deno completions zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_deno"
rustup completions zsh rustup >! "${XDG_CACHE_HOME}/zsh/site-functions/_rustup"
rustup completions zsh cargo >! "${XDG_CACHE_HOME}/zsh/site-functions/_cargo"
op completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_op"
aqua completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_aqua"
snow --show-completion >! "${XDG_CACHE_HOME}/zsh/site-functions/_snow"
aws-vault --completion-script-zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_aws-vault"
rg --generate complete-zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_rg"
zoxide init zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_zoxide"
ruff generate-shell-completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_ruff"
uv generate-shell-completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_uv"
buf completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_buf"
gh completion --shell zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_gh"
delta --generate-completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_delta"
fzf --zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_fzf"
yq completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_yq"
sheldon completions --shell zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_sheldon"
bat --completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_bat"
zellij setup --generate-completion zsh >! "${XDG_CACHE_HOME}/zsh/site-functions/_zellij"

chmod -R +x "${XDG_CACHE_HOME}/zsh/site-functions"
