# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: 'CI'

on:
  - 'pull_request'

permissions: {}

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref }}'
  cancel-in-progress: true

jobs:
  ci:
    runs-on: 'ubuntu-latest'
    permissions:
      contents: 'read'
    timeout-minutes: 10
    steps:
      - uses: 'actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683' # v4
        with:
          persist-credentials: false
      - uses: 'cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15' # v31
      - uses: 'DeterminateSystems/flake-checker-action@078f5f7f47ee188aa6cb472527ca5984e195222d' # v9
      - run: |
          make check
